@tailwind base;
@tailwind components;
@tailwind utilities;

/* Intro 배경 */
.bg-intro {
  background-image: url("./assets/intro/vector.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Login 배경 */
.bg-login {
  background-image: url("./assets/login/bg-full.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* SignUp 배경 */
.bg-signup {
  background-image: url("./assets/signup/bg-full.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
