@tailwind base;
@tailwind components;
@tailwind utilities;

/* Intro 페이지 배경 */
.intro-bg {
  background-image: url("./assets/bg/vector-intro.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Login 페이지 배경 */
.login-bg {
  background-image: url("./assets/bg/bg-login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Signup 페이지 배경 */
.signup-bg {
  background-image: url("./assets/bg/bg-signup.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
